<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAlarmKitUsageDescription</key>
	<string>見積もり時間の終了を知らせる終了ベルを鳴らすために使います。</string>
	<key>NSCameraUsageDescription</key>
	<string>画面を Mac に向けたとき、机の QR を読むために前面カメラを使います。</string>
	<key>NSFaceIDUsageDescription</key>
	<string>この Mac との連携を、画面を自分に戻してから確定するために使います。</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.hibiki-cube.Todo-train</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>todotrain</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
